#header img {
    width: 80px;
    box-sizing: border-box;
}

#form {
    background: gray;
    border: 10px black solid;
    margin: 30px;
    width: 300px;
    height: 100px;
    padding-top: 400px;
    padding-left: 400px;
}

body {
    background-color: #fff;
    font-family: sans-serif;
}

a {
    text-decoration: none;
    color: #4D93E2;
    padding: 10px;
    margin: 5px;
}

#container {
    width: 350px;
    margin: 30px auto;
}

#header {
    text-align: center;
}

#header img {
    width: 100px;
}

.hide {
display:none;
}
#message {
    padding: 5px 15px;
    background: #e24d59;
    color: #efefef;
  }

#form {
    background: #F7F9FA;
    border: 1px solid #D0D7DE;
    border-radius: 5px;
    padding: 20px;
     width: 250px;
     height: 250px;
}

#form input {
    width: 95%;
    margin-bottom: 10px;
    border: 1px solid #D0D7DE;
    border-radius: 5px;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 15px;
}

#form input[type="text"]{
    margin-top: 10px;
}

#form div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

#form input[type="submit"] {
    background: #2DA44E;
    padding: 10px 15px;
    color: #fff;
    font-size: 18px;
    width: 100%;
}

#form input[type="submit"]:hover{
    background: #217839;
    cursor: pointer;

}

#sub-footer {

    border: 1px solid #D0D7DE;
    border-radius: 5px;
    padding: 8px;
    margin-top: 8px;
     text-align: center;
}

#footer {
    margin-top: 5px;
    display: flex;
    justify-content: space-around;
}

#footer p {
    color: #C5C9CB;
}

#sub-footer a:hover, #footer a:hover   {
    text-decoration: none;
}
